body{
    background-color: rgb(19, 19, 19);
}

.h4{
    color: #cbf598;
}

.h4>span{
    color: white;
}
.mynav{
    flex-direction: row;
}
.linkedin{
    background-color: white;
}
.contact{
    background-color: #bff37f;
    border-color: #cbf598;
}
.h1{
    background: linear-gradient(to right, #cbf598 , #89f900);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    font-weight: 500;
}
.h2{
    color: white;
    font-weight: 400;
}

.para{
    color: white;
}

.more{
    color: white;
    border-color: #8fff07;
}

.my-img{
    background-color: #a2f83a;
}

@media(max-width: 768px) {
    .mynav{
        display: none;
    }
    h4{
        text-align: center;
    }
    .navbar>.container{
        justify-content: center;
    }
    .order{
        order: 2;
    }
    .contact{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .more{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .text{
        display: none;
    }
}
